### Project goal
The goal of this project is to predict the number of injuries per game using factors like weather, field type, and environmental metrics.

### EDA
Next, we will load the dataset and explore its structure to understand the data better.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
raw_data = pd.read_csv("../data/raw/dataset1.csv")

In [3]:
raw_data.head()

,connector,player_id,game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam.x,...,HOME_day_since_last_game,AWAY_day_since_last_game,qtr.y,down.y,ydstogo.y,spread_line,total_line,side_of_field.y,defteam.y,season.y
0,2019_01_ATL_MIN_Alexander,2019_MIN_20_Alexander,2019_01_ATL_MIN,MIN,ATL,REG,1,ATL,away,MIN,...,0,0,2,NaN,0,3.5,47.0,NaN,NaN,2019
1,2019_01_ATL_MIN_Alexander,2019_MIN_20_Alexander,2019_01_ATL_MIN,MIN,ATL,REG,1,ATL,away,MIN,...,0,0,2,3.0,6,3.5,47.0,MIN,MIN,2019
2,2019_01_ATL_MIN_Gage,2019_ATL_83_Gage,2019_01_ATL_MIN,MIN,ATL,REG,1,ATL,away,MIN,...,0,0,2,2.0,10,3.5,47.0,ATL,MIN,2019
3,2019_01_ATL_MIN_McKinley,2019_ATL_98_McKinley,2019_01_ATL_MIN,MIN,ATL,REG,1,MIN,home,ATL,...,0,0,2,3.0,7,3.5,47.0,MIN,ATL,2019
4,2019_01_BAL_MIA_McCain,2019_MIA_28_McCain,2019_01_BAL_MIA,MIA,BAL,REG,1,BAL,away,MIA,...,0,0,4,2.0,5,-7.0,41.0,MIA,MIA,2019

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 89 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   connector                       1554 non-null   object
 1   player_id                       1554 non-null   object
 2   game_id                         1554 non-null   object
 3   home_team                       1554 non-null   object
 4   away_team                       1554 non-null   object
 5   season_type                     1554 non-null   object
 6   week                            1554 non-null   int64
 7   posteam                         1554 non-null   object
 8   posteam_type                    1554 non-null   object
 9   defteam.x                       1554 non-null   object
 10  side_of_field.x                 1554 non-null   object
 11  yardline_100                    1554 non-null   int64
 12  game_date                       1554 non-null   int64
 13  quarter_seconds_remaining       1554 non-null   int64
 14  half_seconds_remaining          1554 non-null   int64
 15  game_seconds_remaining          1554 non-null   int64
 16  game_half                       1554 non-null   object
 17  qtr.x                           1554 non-null   object
 18  down.x                          1511 non-null   float64
 19  yrdln                           1554 non-null   object
 20  ydstogo.x                       1554 non-null   int64
 21  desc                            1554 non-null   object
 22  injured_first_name              1554 non-null   object
 23  injured_last_name               1554 non-null   object
 24  injured_team                    1554 non-null   object
 25  injured_player_num              1554 non-null   int64
 26  Contact/ non-contact            1545 non-null   object
 27  injury area                     1543 non-null   object
 28  player role                     1544 non-null   object
 29  season.x                        1554 non-null   int64
 30  team                            1554 non-null   object
 31  position                        1554 non-null   object
 32  depth_chart_position            1554 non-null   object
 33  jersey_number                   1554 non-null   int64
 34  status                          1426 non-null   object
 35  full_name                       1554 non-null   object
 36  first_name                      1554 non-null   object
 37  last_name                       1554 non-null   object
 38  birth_date                      1553 non-null   object
 39  height                          1553 non-null   float64
 40  weight                          1554 non-null   int64
 41  college                         1554 non-null   object
 42  years_exp                       1553 non-null   float64
 43  game_type                       1554 non-null   object
 44  football_name                   1554 non-null   object
 45  smart_id                        1554 non-null   object
 46  entry_year                      1553 non-null   float64
 47  day                             1554 non-null   object
 48  date                            1554 non-null   object
 49  time                            1554 non-null   object
 50  winner.tie                      1554 non-null   object
 51  loser.tie                       1554 non-null   object
 52  pts_w                           1554 non-null   int64
 53  pts_l                           1554 non-null   int64
 54  yds_w                           1554 non-null   int64
 55  tov_w                           1554 non-null   int64
 56  yds_l                           1554 non-null   int64
 57  tov_l                           1554 non-null   int64
 58  loser_is_home                   1554 non-null   bool
 59  Home_Team                       1554 non-null   object
 60  Away_Team                       1554 non-null   object
 61  Home_abbr                       1554 non-null   object
 62  Away_abbr                       1554 non-null   object
 63  num_injuries                    1554 non-null   int64
 64  num_plays                       1554 non-null   int64
 65  surface                         1554 non-null   object
 66  surface_type                    1554 non-null   object
 67  stadium                         1554 non-null   object
 68  dome                            1554 non-null   bool
 69  Avg_Temp                        1554 non-null   float64
 70  Avg_Feels_Like                  1554 non-null   float64
 71  Avg_Wind_MPH                    1554 non-null   float64
 72  Avg_Humidity_Percent            1554 non-null   float64
 73  Avg_Percipitation_Prob_Percent  1554 non-null   float64
 74  Home_latitude                   1554 non-null   float64
 75  Home_longitude                  1554 non-null   float64
 76  Away_latitude                   1554 non-null   float64
 77  Away_longitude                  1554 non-null   float64
 78  distance_miles                  1554 non-null   float64
 79  HOME_day_since_last_game        1554 non-null   int64
 80  AWAY_day_since_last_game        1554 non-null   int64
 81  qtr.y                           1554 non-null   int64
 82  down.y                          1449 non-null   float64
 83  ydstogo.y                       1554 non-null   int64
 84  spread_line                     1554 non-null   float64
 85  total_line                      1554 non-null   float64
 86  side_of_field.y                 1491 non-null   object
 87  defteam.y                       1491 non-null   object
 88  season.y                        1554 non-null   int64
dtypes: bool(2), float64(17), int64(24), object(46)
memory usage: 1.0+ MB

In [7]:
raw_data.describe(include="all")

,connector,player_id,game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam.x,...,HOME_day_since_last_game,AWAY_day_since_last_game,qtr.y,down.y,ydstogo.y,spread_line,total_line,side_of_field.y,defteam.y,season.y
count,1554,1554,1554,1554,1554,1554,1554.000000,1554,1554,1554,...,1554.000000,1554.000000,1554.000000,1449.000000,1554.000000,1554.000000,1554.000000,1491,1491,1554.000000
unique,1450,1042,476,32,32,2,NaN,32,2,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,32,NaN
top,2019_16_ARI_SEA_Drake,2019_GB_55_Smith,2020_14_WAS_SF,NO,BUF,REG,NaN,BUF,home,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SF,DET,NaN
freq,3,8,10,71,71,1487,NaN,67,803,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,67,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,9.900257,NaN,NaN,NaN,...,7.104247,7.168597,2.795367,1.898551,7.898970,1.293115,46.643179,NaN,NaN,2019.533462
std,NaN,NaN,NaN,NaN,NaN,NaN,5.194079,NaN,NaN,NaN,...,2.494696,2.523531,1.089352,0.918685,4.393047,6.279149,4.273068,NaN,NaN,0.499040
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,0.000000,0.000000,1.000000,1.000000,0.000000,-18.000000,36.500000,NaN,NaN,2019.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,...,7.000000,7.000000,2.000000,1.000000,5.000000,-3.000000,43.500000,NaN,NaN,2019.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,...,7.000000,7.000000,3.000000,2.000000,10.000000,2.500000,46.500000,NaN,NaN,2020.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,14.000000,NaN,NaN,NaN,...,7.000000,7.000000,4.000000,3.000000,10.000000,6.000000,49.500000,NaN,NaN,2020.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,21.000000,NaN,NaN,NaN,...,16.000000,17.000000,5.000000,4.000000,27.000000,22.000000,58.000000,NaN,NaN,2020.000000

### Data Preprocessing
We will preprocess the data to handle missing values, convert categorical variables into numerical ones, and scale the features.

In [6]:
raw_data.isnull().sum()

connector           0
player_id           0
game_id             0
home_team           0
away_team           0
                   ..
spread_line         0
total_line          0
side_of_field.y    63
defteam.y          63
season.y            0
Length: 89, dtype: int64

In [11]:
print("Missing values percentage in each column:")
raw_data.isnull().sum() / len(raw_data) * 100

Missing values percentage in each column:

connector          0.000000
player_id          0.000000
game_id            0.000000
home_team          0.000000
away_team          0.000000
                     ...
spread_line        0.000000
total_line         0.000000
side_of_field.y    4.054054
defteam.y          4.054054
season.y           0.000000
Length: 89, dtype: float64

In [10]:
print(f"{raw_data.duplicated().sum()} duplicates in the dataset")

0 duplicates in the dataset